set (autostart false)
set (preconditions Platform)
set (callsign "org.rdk.Migration")

if(PLUGIN_MIGRATION_STARTUPORDER)
set (startuporder ${PLUGIN_MIGRATION_STARTUPORDER})
endif()

map()
    key(root)
    map()
        kv(mode ${PLUGIN_MIGRATION_MODE})
        kv(locator lib${PLUGIN_IMPLEMENTATION}.so)
    end()
end()
ans(configuration)
