set (autostart ${PLUGIN_PREINSTALL_MANAGER_AUTOSTART})
set (preconditions Platform)
set (callsign "org.rdk.PreinstallManager")

if(PLUGIN_PREINSTALL_MANAGER_STARTUPORDER)
set (startuporder ${PLUGIN_PREINSTALL_MANAGER_STARTUPORDER})
endif()

map()
   key(root)
   map()
       kv(mode ${PLUGIN_PREINSTALL_MANAGER_MODE})
       kv(locator lib${PLUGIN_IMPLEMENTATION}.so)
   end()
end()
ans(configuration)