set (autostart ${PLUGIN_SCENE_SET_AUTOSTART})
set (preconditions Platform)
set (callsign "org.rdk.SceneSet")

if(PLUGIN_SCENE_SET_STARTUPORDER)
set (startuporder ${PLUGIN_SCENE_SET_STARTUPORDER})
endif()

map()
   key(root)
   map()
       kv(mode ${PLUGIN_APP_MANAGER_MODE})
   end()
end()
ans(configuration)
